*{
    margin: 0;
    padding: 0;
}

/* nav section  */
.nav-container{
    max-width: 100%;
    height: 800px;
    background-color:  rgba(222, 218, 219, 0.3);
    display: flex;
    
    
}
.nav-text-section{
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 100px;
}
.nav-title{
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 30px;
    
    
}
.nav-description{
    width: 634px;
    height: 90px;
    margin-bottom: 30px;
}
.btn-primary{
    border: none;
    background-color: #E55473;
    padding: 20px 43px;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    font-style: normal;
    text-align: center;
}
.nav-image{
    
}
.nav-img-size{
    width: 630px;
    height: 800px;

}
 /* banner style */
 .banner-container{
    max-width: 100%;
    margin-bottom: 130px;
}
.banner-heading-text{
    text-align: center;
    margin-top: 120px;
}
.flower-box-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;

}
.flower-box-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    width: 500px;
    padding: 20px 30px;
    margin: auto;
}

.flower-box-container{
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 100px 150px;
}
.box1{
    width: 464px;
    height: 538px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    text-align: center;
  
}
.box2{
    width: 464px;
    height: 538px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    text-align: center;
  
}
.box3{
    width: 464px;
    height: 538px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    text-align: center;
  
}
.banner-image-size{
    width: 310px;
    height: 428px;
    margin-top: 110px;
   
}
.box-flower-name{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 80px;
    
}

/* support section style */
.support-section-background{
    max-width:  1440px;
    background-color: rgba(39, 39, 39, 0.05);
    margin: 20px 150px;
}
.support-icon-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.support-icon{
    text-align: center;
    margin: 80px 0px;
}
.icon-title{
    color: rgba(39, 39, 39, 0.80);
    font-family: Lato;
    font-size: 20px;
}
.icon-image{
    margin-bottom: 25px;
}
/* hot deal section style*/
.hot-deal-section{
    max-width: 1922px;
    background-color: #e9e6e6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 130px;
    
}
.hot-deal-text{
    margin-left: 150px;
    text-align: center;
}
.hot-deal-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}
.hot-deal-img{
    margin: 100px 100px;
}
/* instagram style */
.instagram-container{
    margin: 130px;
}
.insta-image-container{
    display: flex;
    justify-content: center;
    margin: 0px 240px;
    gap: 20px;
    

    
}
.instagram-image-showing{
    margin-top: 40px;
}

/* get the deal */
.get-the-deal-container{
    text-align: center;
    width: 1440px;
    height: 449px;
    background-image: url("/Flower Asset/Rectangle\ 9.png");
    background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   margin: 128px auto;
}
.get-deal-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 90px;
}
.get-the-deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 40px;
}
.form-container, input{
    
    border: none;
    padding: 22px 200px;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
    


}

/* footer container */

.footer-container{
    max-width: 100%;
    height: 449px;
    background-color: #111010;
    margin-top: 130px;
    color: whitesmoke;
    text-align: center;
}
.footer-title{
    color: whitesmoke;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 100px;
}
.red-span{
    color: red;
}
.footer-description{
    
    text-align: center;
    padding: 30px 500px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.allright-symble{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

